@import "tailwindcss";

:root {
    --background: #fff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #fff;
        --foreground: #171717;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.swiper-pagination {
    position: absolute;
}

.swiper-pagination-bullet {
    background-color: #444 !important;
    opacity: 0.6;
}
.swiper-pagination-bullet-active {
    background-color: var(--color-green-400) !important;
    opacity: 1;
}
